/* 

UX Designer gave us sizes in pt,

conversion via internet is 1px = .75pt

currently 62.5% of 16px is 10 px, giving us 1.6 rem for 16 px, but we want

16px * .75 = point
*/
/* 
#FFD1D1
#6819DF
#FFD940
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background-color: #00ABA6;
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1.6rem;
  color: #FFFFFF;
  height: 100%;
  margin: 0 auto;
}
h1 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 6rem;
}
h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 4rem;
}
h3 {
  font-family: "Roboto";
  font-weight: Medium;
  font-size: 2.4rem;
}
p {
  line-height: 1.4;
  font-size: 4rem;
}
main {
  width: 65%;
  margin: 2% auto;
}
button {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 2rem;
}
header {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #007672;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  width: 13%;
  height: auto;
  margin: 0% 5%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  margin-right: 4%;
}
@media (max-width: 1500px) {
  header nav {
    width: 65%;
  }
}
header nav a {
  color: #FFFFFF;
  border: 1;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 0.5rem;
}
header nav a:hover {
  color: #E0F9FF;
}
@media (max-width: 1100px) {
  header {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  header nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:800px) {
  header {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  header nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:500px) {
  header {
    display: flex;
    flex-flow: column wrap;
  }
  header nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  header nav a {
    font-size: 2.5rem;
    border-bottom: 0.5rem solid white;
  }
}
.contact {
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 7%;
  align-items: flex-end;
}
.contact nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 40%;
  margin-right: 4%;
}
.contact nav a {
  color: #FFFFFF;
  border: 1;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 0.5rem;
}
.contact nav a:hover {
  color: #E0F9FF;
}
@media screen and (max-width:800px) {
  .contact {
    display: flex;
    padding: 0%;
    margin: 0%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .contact nav {
    width: 90%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:500px) {
  .contact {
    display: flex;
    padding: 0%;
    margin: 0%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .contact nav {
    width: 90%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body.index {
  background-color: #00ABA6;
}
body.index .contact-div {
  position: absolute;
  bottom: 10px;
}
body.index main {
  height: 81%;
}
main .banner-info {
  position: relative;
  color: black;
}
main .banner-info .banner {
  width: 100%;
  display: block;
}
@media (max-width: 1300px) {
  main .banner-info {
    display: none;
  }
}
main h1 {
  text-align: center;
  margin: 2%;
}
main .button {
  text-align: center;
}
main .button button {
  width: 15%;
  background-color: #A42B82;
  text-align: center;
}
main section.bubbles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2%;
}
main section.bubbles .bubble {
  width: 30%;
  border-radius: 10%;
  background: #3FC5AB;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 3%;
  justify-content: space-between;
}
main section.bubbles .bubble p {
  font-size: 3.5rem;
  font-weight: bold;
}
main section.bubbles .bubble .author {
  justify-self: flex-end;
  font-size: 2.5rem;
  align-self: flex-end;
}
.contactBanner {
  width: 100%;
  height: 30%;
  background: linear-gradient(#00ABA6, #673AB7);
  /* w3c */
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.contact-page {
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: Regular;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
main.contact-page a {
  text-decoration: none;
  color: #FFFFFF;
}
main.contact-page a:hover {
  color: lightblue;
}
@media screen and (max-width:800px) {
  main.contact-page {
    padding: 5%;
  }
}
main.contact-page .form {
  margin: 5% auto;
}
main.contact-page .contact-info {
  line-height: 2;
  text-align: center;
}
.meetTheTeamBanner {
  width: 100%;
  height: 30%;
  background: linear-gradient(#EDB5C0, #00ABA6);
  /* w3c */
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meetTeam {
  color: black;
  display: flex;
  flex-flow: row wrap;
  margin: 5% auto;
}
.meetTeam .teamRole {
  display: none;
}
.meetTeam section {
  width: 20%;
  height: 20%;
  position: relative;
  text-align: center;
  color: white;
  border: none;
  margin: 2%;
}
.meetTeam section img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.meetTeam section img:hover {
  background-color: #000;
  opacity: 0.5;
}
@media screen and (max-width:800px) {
  .meetTeam {
    color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .meetTeam section {
    width: 40%;
    height: 40%;
    margin: 2% 5%;
  }
  .meetTeam section .teamRole {
    display: block;
    padding: 2%;
  }
}
@media screen and (max-width:500px) {
  .meetTeam {
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .meetTeam .teamRole {
    display: block;
    padding: 1%;
  }
  .meetTeam section {
    width: 50%;
    height: 50%;
    align-self: center;
  }
}
