/* 
#FFD1D1
#6819DF
#FFD940
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: #9F2219;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 1.6rem;
  color: #FFFFFF;
}
h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 4rem;
}
h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 4rem;
}
h3 {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 2.4rem;
}
p {
  line-height: 1.4;
}
main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
button {
  font-family: Roboto;
  font-weight: Regular;
  font-size: 2rem;
}
button .signIn {
  background-color: #6E2AD5;
}
button .signUp {
  background-color: #6E2AD5;
}
body {
  width: 1000px;
  margin: 0 auto;
}
header {
  color: skyblue;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
header img {
  border: 1px solid black;
  width: 29%;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: #FFFFFF;
  border: 1;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}
header nav a:hover {
  color: #E0F9FF;
}
main section.brief {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
main section.brief p {
  text-align: center;
}
main button {
  background-color: #6E2AD5;
  color: #FFFFFF;
  border: 1px solid #6E2AD5;
  border-radius: 5px;
  align-self: flex-end;
}
main img.mobileView {
  width: 29%;
  border: 1px solid white;
}
main {
  display: flex;
  flex-flow: row wrap;
}
main section {
  position: relative;
  text-align: center;
  color: white;
}
main .noDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
