main.contact-page{
    font-size: 3rem;
    font-family: @textFontFamily;
    font-weight: @textFontWeight;

    a{
        text-decoration: none;
        color: @textColor;
        &:hover{
            color: lightblue;
        }

        &:active{

        }
    }
    @media @tablet{
        padding: 5%;
    }

    .form{
        margin: 5% 0%;
    }
 
    .contact-info{
        line-height: 2;
    }
}