main.contact{
    font-size: 3rem;
    font-family: @textFontFamily;
    font-weight: @textFontWeight;

    @media @tablet{
        padding: 5%;
    }

    label{
        font-size: 3rem;
        padding: 1%;
    }

    textarea{
        font-size: 2rem;
    }

    input{
        font-size: 2rem;
    }
    section{
        line-height: 2;
    }
}