.contact{
    color: @textColor;
    display:flex;
    justify-content:space-between;
    padding: 1rem;

    span{
        margin-top: 2%
    }
    nav{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 40%;
        margin-right: 4%;

        a {
            color:@textColor;
            border: 1;
            text-decoration: none;
            font-size: @h3FontSize;
            padding: .5rem;
            

            &:hover {
                color: #E0F9FF; //works for accessility
            }

        }
    }

}

@media @tablet{
    
}

@media @phone{
    
}