body.index{
    background-color: @backgroundColor;
    .contact-div{
        position: absolute;
        bottom: 10px;
    }
}

main{

    .banner-info{
        position: relative;
        color: black;

        .banner{
            width: 100%;
            display: block;
            border-radius: 50px;
        }
        }

    @media (max-width: 1300px){
        .banner-info{
            display: none;
        }
    }

    h1{
        text-align: center;
        margin: 2%;
    }
    .button {
        text-align: center;
        button{
            color: @textColor;
            font-size: 3rem;
            width: 11%;
            padding: 10px;
            border-radius: 5px;
            background-color: @buttonBackground;
            text-align: center;
            border: 1px solid @buttonBackground;
        }
    }
    section.bubbles{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 2%;

        .bubble{
            width: 30%;
            border-radius: 50px;
            background: @bubbleBackground;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            padding: 2%;
            justify-content: space-between;

            p {
                padding: 2%;
                font-size: 3rem;
                text-align: center;
            }

            .author{
                padding-top: 20%;
                justify-self: flex-end;
                font-size: 2.5rem;
                align-self: flex-end;
            }
        }
    }

    @media (max-width: 1200px){
        section.bubbles{
            display: flex;
            flex-flow: column wrap;
            margin: 2%;
            justify-content: center;
            align-items: center;
    
            .bubble{
                margin: 5%;
                width: 90%;
                border-radius: 10%;
                background: @bubbleBackground;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                padding: 3%;
                justify-content: space-between;
                p {
                    font-size: 3.5rem;
                    font-weight: bold;
                }
    
                .author{
                    justify-self: flex-end;
                    font-size: 2.5rem;
                    align-self: flex-end;
                    
                }
            }
        } 
    }
}


