.meetTeam {
    color: black;
    display: flex;
    flex-flow: row wrap;

    section{
        width: 20%;
        height: 20%;
        position: relative;
        text-align: center;
        color: white;
        border:none;
        margin: 2%;

        // &:hover{
        //     .noDisplay{
        //         display: block;
        //     }
        
        img{
            width: 100%;
            height: auto;
            &:hover{
                //position:absolute;
                background-color:#000;
                opacity:0.5;
                //border-radius:30px;
            }
        
        }

    }

    .noDisplay{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    }


.modal-header{
    .modal-body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

