.meetTheTeamBanner{
    width:100%;
    height: 30%;
    background: linear-gradient(@smileFaceMouth, @backgroundColor); /* w3c */
    z-index: 20000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meetTeam {
    color: black;
    display: flex;
    flex-flow: row wrap;
    margin: 5% auto;

    .teamRole{ //used for media queries, not desktop
        display: none;
    }

    section{
        width: 20%;
        height: 20%;
        position: relative;
        text-align: center;
        color: white;
        border:none;
        margin: 2%;

        .modal-header{
            .modal-body{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        img{
            width: 100%;
            height: auto;
            border-radius: 50%;
            &:hover{
                //position:absolute;
                background-color:#000;
                opacity:0.5;
                //border-radius:30px;
            }
        
        }

    }

    @media @tablet{
        color: @textColor;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        section{
            width: 40%;
            height: 40%;
            margin: 2% 5%;

            .teamRole{
                display: block;
                padding: 2%;
            }
    }
    }

    @media @phone{
        color: @textColor;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .teamRole{
            display: block;
            padding: 1%;
        }

        section{
            width: 50%;
            height: 50%;
            align-self: center;
    }
    }
}








