// @backgroundColor: #FF6B6B;
@backgroundColor: #9F2219;
//made background color darker so it passes accessibility tests

//@buttonSignUp: #D12B20;

@buttonSignUp: #6E2AD5; //didn't find a different color

//@buttonSignIn: #905BDF;
@buttonSignIn: #6E2AD5; //accessibility

//not used yet
@buttonCWA: #DF668B;

@textColor: #FFFFFF;
@textFontFamily: Roboto;
@textFontWeight: Regular;
@textFontSize: 1.6rem;

@h1FontFamily: Roboto;
@h1FontWeight: bold;
@h1FontSize: 6rem;

@h2FontFamily: Roboto;
@h2FontWeight: bold;
@h2FontSize: 4rem;

@h3FontFamily: Roboto;
@h3FontWeight: Medium;
@h3FontSize: 2.4rem;

@buttonFontFamily: Roboto;
@buttonFontWeight: Regular;
@buttonFontSize: 2rem;

/* 
#FFD1D1
#6819DF
#FFD940
*/
