@backgroundColor: #00668D;
@buttonLearnMore: #A53B3C;

@textColor: #FFFFFF;
@textFontFamily: "Roboto";
@textFontWeight: Regular;
@textFontSize: 1.6rem;

@h1FontFamily: "Roboto";
@h1FontWeight: bold;
@h1FontSize: 6rem;

@h2FontFamily: "Roboto";
@h2FontWeight: bold;
@h2FontSize: 4rem;

@h3FontFamily: "Roboto";
@h3FontWeight: Medium;
@h3FontSize: 2.4rem;

@buttonFontFamily: "Roboto";
@buttonFontWeight: Regular;
@buttonFontSize: 2rem;

/* 
#FFD1D1
#6819DF
#FFD940
*/
